/* Colors and fonts */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");

/*components design*/
@import url(component/likefb.css);
@import url(component/epic.css);
@import url(component/avatar.css);
@import url(component/banner.css);
@import url(component/dropdown.css);


body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  margin: 20px;
}

h1, h2, h3, p {
  font-family: "Montserrat", "sans-serif";
  margin: 10px;
}

h4 {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  margin: 70px;
}

h1 {
	padding-top: 50px;
}

a {
	list-style: none;
}